extends layout
block content
  script(src='/javascripts/upvote.js')
  .container
    .row
      .col-md-10.col-md-offset-1
        .page-header
          h1 Most recent uploads
        .container-fluid
          -for(var i = 0; i < photos.length; i++){
            -if(i % 3 == 0){
              .row
            -}
              .thumbnail.col-md-4
                .col-md-4
                  .caption.text-center
                    .btn.btn-success.upvote(data-id='#{photos[i]._id}')
                      span(class='glyphicon glyphicon-thumbs-up')
                    h2(class='score')=photos[i].score
                    .btn.btn-danger.downvote(data-id='#{photos[i]._id}')
                      span(class='glyphicon glyphicon-thumbs-down')

                .col-md-8
                  a(href='/image/#{photos[i]._id}')
                    img(src='#{photos[i].viewPath}' style='height : 150px;')
                .col-md-12      
                  .caption
                    h3=photos[i].title
                    p=photos[i].description
                    span Tags : 
                    for tag in photos[i].tags
                      a(href='image/tags/#{tag.trim()}')=tag

          -}

