extends ../layout
block content
  script(src='/javascripts/profile.js')
  .container
    .row
        h1=user
    .row
    for photo in photos
      .media
        .media-left
          a(href='/image/#{photo._id}')
            img(src='#{photo.viewPath}' style='width : 150px;')
        .media-body
          h3=photo.title
          p=photo.description
          p tags: 
            for tag in photo.tags
              a(href='/image/tags/#{tag.trim()}')=tag


